<p>home page!</p>
<div class="card-body">
  <h3>top 10 rating</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>title</th>
      <th>averageRating</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{movie.title}}</td>
      <td>{{movie.averageRating}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="card-body">
  <h3>top 10 recommendations by {{userId}}</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>title</th>
      <th>averageRating</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rec of recommendations">
      <td>{{rec.title}}</td>
      <td>{{rec.score}}</td>
    </tr>
    </tbody>
  </table>
</div>

